{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
      <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend class="border-bottom mb-4">Log in!</legend>
<!--                {{ form.as_p }}-->
                    {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="button btn-outline-info" type=""submit>Log in</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Not yet Registered?
                <a href="{% url 'register'%}">sign up</a>
            </small>
        </div>
    </div>
{% endblock %}